# Environment variables
.env

# Google credentials
google_credentials.json

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Notebook checkpoints
.ipynb_checkpoints/

# Data outputs
data/*.csv
data/*.tsv
